<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="dzb_description_ros2_control"
               params="name initial_positions_file use_mock:=true">

    <ros2_control name="${name}" type="system">

      <hardware>
        <plugin>motor_control/MotorControlHardwareInterface</plugin>
        <param name="use_mock">${use_mock}</param>
        <param name="can_channel">0</param>
        <param name="baud_rate">1000</param>
      </hardware>

      <joint name="yaw_joint">
        <param name="joint_type">revolute</param>
        <param name="motor_id">1</param>
        <param name="gear_ratio">-64.0</param>
        <param name="force_max">3.2</param>
        <param name="soft_limit_min">-0.7853981634</param>
        <param name="soft_limit_max">2.6179938780</param>
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="pitch_joint">
        <param name="joint_type">revolute</param>
        <param name="motor_id">2</param>
        <param name="gear_ratio">32.0</param>
        <param name="force_max">2.4</param>
        <param name="soft_limit_min">-0.5235987756</param>
        <param name="soft_limit_max">0.5235987756</param>
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="trans_joint">
        <param name="joint_type">prismatic</param>
        <param name="motor_id">3</param>
        <param name="gear_ratio">-8.0</param>
        <param name="force_max">0.63</param>
        <param name="soft_limit_min">-0.3141592654</param>
        <param name="soft_limit_max">0.0002094395</param>
        <param name="output_translation_per_rev">0.0753982237</param>
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
